/* FONTS  */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  height: 100%;
  box-sizing:border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  background-color: #f7f7fe;
  background-image: url("../img/life-bg-left.svg"), url("../img/life-bg-right.svg");
  background-repeat: no-repeat;
  background-position: left -120px  bottom -460px, right -100px top -100px;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}



/* MAIN CONTENT  */
.main-content {
  flex-grow: 1;
}